
<app-header [(collapsed)]="collapsed" />
<mat-sidenav-container>
  <!-- <mat-sidenav
  [opened]="true"
  class="component-selector"
                  [mode]="componentSelectorMode()"
  [style.width]="sidenavWidth()"
> -->
<mat-sidenav
[opened]="true"
class="component-selector"
                [mode]="componentSelectorMode()"
                [style.width]="sidenavWidth()"

>
    <app-custom-sidenav [collapsed]="collapsed()"/>
  </mat-sidenav>
  <mat-sidenav-content
      class="content"
      [style.margin-left]="sidenavWidth()"
      >
    <router-outlet></router-outlet>
    <a
      mat-fab
      extended
      class="!fixed bottom-5 right-10"
      href="https://zoaibkhan.lemonsqueezy.com/buy/4bc3b34d-4980-44be-80bc-bde1dc5b71e9"
      target="_blank"
    >
      <mat-icon>code</mat-icon>Get the code</a
    >
  </mat-sidenav-content>
</mat-sidenav-container>
