<app-header />
    <mat-sidenav-container (backdropClick)="backDrop()" >
        <mat-sidenav
          (keydown.escape)="backDrop()"
          [mode]="responsiveService.modeSideNav()"

          [opened]="responsiveService.sideNavOpen()"

          [style.width]="responsiveService.sideNavWidth()"
        >
        <app-custom-sidenav  />
      </mat-sidenav>
      <mat-sidenav-content class="content" [style.margin-left]="responsiveService.styleMarginLeft()">


        <router-outlet></router-outlet>
        <!-- <a
          mat-fab
          extended
          class="!fixed bottom-5 right-10"
          href="https://zoaibkhan.lemonsqueezy.com/buy/4bc3b34d-4980-44be-80bc-bde1dc5b71e9"
          target="_blank"
        >
          <mat-icon>code</mat-icon>Get the code</a
        > -->
      </mat-sidenav-content>
    </mat-sidenav-container>
